<div class="modal " id="modalCargando" >
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Cargando...</h4>
      </div>
      <div class="modal-body">
       <img class="img-responsive center-block" src="http://4.bp.blogspot.com/-N79QbQUJDgA/UGNwliznv1I/AAAAAAAACpY/Mi8MYQ5jVeQ/s1600/cargandoPaginaWeb.gif">
      </div>
    </div>
  </div>
</div>