<!-- inici footer -->
<div class="footer">
  <div class="container-fluid">
    <p class="text-center"><%= link_to "Nosotros", about_path, :class => "block-center" %> </p>
  </div>
</div>
<!-- fi footer -->