<!-- inici footer -->
<div class="color_abans_footer container-fluid">
  <div class="footer">
    <div class="container">
      <div class="row">
      	<div class="col-xs-4">
      		<p><%= link_to "Nosotros", about_path, :class => "block-center" %></p>
      		<p><%= link_to "Licencias", licensing_path, :class => "block-center" %></p>
      	</div>
      	<div class="col-xs-offset-4 col-xs-4">
      		<p>SEGUEIX-NOS</p>
              <p><a href="https://www.facebook.com"><i id="btnface" class="fa fa-facebook-official font_awesiwe_footer icons_pading" aria-hidden="true"></i> </a> 
             <a href="https://twitter.com"><i id="btntwitter" class="fa fa-twitter-square font_awesiwe_footer icons_pading" aria-hidden="true"></i> </a> 
             <a href="https://www.youtube.com"><i id="btnyoutube" class="fa fa-youtube-play font_awesiwe_footer icons_pading" aria-hidden="true"></i> </a> 
             <a href="https://plus.google.com"><i id="btngoogleplus" class="fa fa-google-plus-square font_awesiwe_footer icons_pading" aria-hidden="true"></i> </a></p>
      	</div>
      </div>
      
    </div>
  </div>
</div>
<!-- fi footer -->