<%= render "shared/header" %>
<%= render "shared/cargando" %>
<div class="body">
	<div class="container">
		<h3 class="titolTipograf">CONCESIÓ DE LLICENCIES</h3>
			<p class="text-justify">
			Si voleu utilitzar qualsevol de les nostres marques o logotips, envieu una sol·licitud amb els detalls del seu pla d'ús a través del nostre Formulari de proposta de negoci per a la seva revisió i accés als actius.

			Per obtenir informació sobre la integració de dades BoiledPotatoes® en la seva aplicació (a través de les API, s'alimenta de dades), envieu una sol·licitud amb detalls sobre la seva aplicació i el seu pla d'ús de les nostres dades a través del nostre Formulari de proposta de negoci.
		</p>
		<h3 class="titolTipograf">LOGOS I MARQUES</h3>
		<div class="row">
			<div class="col-xs-4">
				<img class="img-responsibe tamanyMarques center-block" src="https://s3.eu-west-2.amazonaws.com/boiledpotatoes/images/potato.png"></img>
				<p class="text-center">Patata Fresca</p>
			</div>
			<div class="col-xs-4">
				<img class="img-responsibe tamanyMarques center-block" src="https://s3.eu-west-2.amazonaws.com/boiledpotatoes/images/potato_boiled2.png"></img>
				<p class="text-center">Patata Bullida</p>
			</div>
			<div class="col-xs-4">
				<img class="img-responsibe tamanyMarques center-block" src="https://s3.eu-west-2.amazonaws.com/boiledpotatoes/images/potato_audience.png"></img>
				<p class="text-center">Molta audiencia</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-4 col-xs-4">
				<img class="img-responsibe tamanyMarques center-block" src="https://s3.eu-west-2.amazonaws.com/boiledpotatoes/images/patata_certificada.png"></img>
				<p class="text-center">CERTIFICAT LOGOTIP FRESC ™</p>
			</div>
		</div>
	</div>
</div>
<%= render "shared/footer" %>
